<!--Text views component-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ALL</ion-title>
  </ion-navbar>
</ion-header>
<!--- Content text exapmles  -->
<ion-content padding class="default-background">
  <ion-list>
    <div class="title-components">Typography</div>
    <h1 class="example-h1">This is example of H1 title.</h1>
    <h2 class="example-h2">And this is example of H2 title/subtitle.</h2>
    <h3 class="example-h3">Example of H3 subtitle is also here.</h3>
    <h4 class="example-h4">And H4 subtitle example is here.</h4>
    <h5 class="example-h5">H5 subtitle is like this!</h5>
    <h6 class="example-h6">And H6 at the end usualy same as H6.</h6>
    <p class="example-p">This is example of paragraph text.<br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat.</p>

    <!--- SPAN EXAMPLES  -->
    <div class="title-components" text-center>Span examples</div>
    <div text-center><span class="compomets">Small span</span></div>
    <div span-small text-center>4.84 (35 reviews)</div>
    <div padding-top text-center><span class="compomets">Medium span</span></div>
    <div span-medium ion-text color='primary' text-center>Detail</div>
    <div padding-top text-center><span class="compomets">Large span</span></div>
    <div span-large text-center>
      <ion-badge badge-light>$3.99</ion-badge>
    </div>

    <!--- BUTTON EXAMPLE  -->
    <div class="title-components" text-center>Button examples</div>
    <div class="block-insert" text-center>
      <span class="compomets">Default</span>
      <button default-button full ion-button>BUTTON</button>
    </div>
    <div class="block-insert" text-center>
      <span class="compomets">Flat</span>
      <button button-clear clear ion-button>BUTTON</button>
    </div>

    <div class="block-insert" text-center>
      <span class="compomets">Outline</span>
      <button button-clear-outline outline round ion-button>BUTTON</button>
    </div>

    <div class="block-insert" text-center>
      <span class="compomets">Round</span>
      <button button-action-shit ion-button><ion-icon name="more"></ion-icon></button>
    </div>

    <!--- ICON EXAMPLES  -->
    <div class="title-components" text-center>Icons examples</div>

    <div text-center>
      <span class="compomets">Small</span>
      <ion-icon icon-small>
        <i class=" icon icon-heart"></i>
      </ion-icon>

      <ion-icon icon-small>
        <i class=" icon-share-variant"></i>
      </ion-icon>
    </div>

    <div text-center>
      <span class="compomets">Medium</span>
      <ion-icon icon-medium color='primary'>
        <i class=" icon icon-thumb-up"></i>
      </ion-icon>

      <ion-icon icon-medium color='primary'>
        <i class=" icon icon-heart"></i>
      </ion-icon>

      <ion-icon icon-medium color='primary'>
        <i class=" icon-share-variant"></i>
      </ion-icon>
    </div>

    <div text-center>
      <span class="compomets">Large</span>
      <ion-icon icon-large color='primary'>
        <i class=" icon icon-thumb-up"></i>
      </ion-icon>

      <ion-icon icon-large color='primary'>
        <i class=" icon icon-heart"></i>
      </ion-icon>

      <ion-icon icon-large color='primary'>
        <i class=" icon-share-variant"></i>
      </ion-icon>
    </div>
  </ion-list>
</ion-content>
