/*  #Style Settings for Tab-8
===========================================*/
[tabPage8] {

  [card-title] {
    color: color($googleCard, card-title-basic);
  }

  [card-subtitle]{
    color: color($googleCard, card-subtitle-basic);
  }

  [card-body-text] {
    color: color($googleCard, card-description-basic) !important;
  }
}
 
