<!--Fist Screen-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="icon-menu" name="menu"></ion-icon>
    </button>
    <!-- <div buy *ngIf="isBuyButtonEnabled"> -->
    <div buy>
      <ion-title>Home</ion-title>
    </div>
    <!-- <ion-title>{{data.toolbarTitle}}</ion-title> -->
  </ion-navbar>
</ion-header>
<!--Fist Screen Content-->
<ion-content>
  <div *ngIf="data != null && data.background != null" background-size default-background [ngStyle]="{'background-image': 'url(' + data.background + ')'}">        
  </div>
</ion-content>
