<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Maps Area</ion-title>
    </ion-navbar>
</ion-header>

<!-- Themes Swipe To Dismiss - Full width image -->
<ion-content>
        <div id="map_canvas">                
              </div>             
</ion-content>
