<!-- QRCode component-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{params.title}}</ion-title>
    </ion-navbar>
</ion-header>

<!--Content-->
<qrcode-layout-1 [data]="params.data">
</qrcode-layout-1>
