<!---Settings Main Header-->
<ion-split-pane when="md">
    <!-- Menu Main Top -->
    <ion-menu [content]="content" *ngIf="params != null">
        <ion-header>
            <div header-background-image padding [ngStyle]="{'background-image': 'url(' + params.background + ')'}">                
            </div>
        </ion-header>
        <!-- Menu Main List -->
        <ion-content>
            <ion-list no-margin>
                    <button menuClose ion-item item-title main-menu no-lines border (click)="openPage_('KorlantasViewMap')">          
                            <ion-icon  icon-small item-left name="list-box"></ion-icon>
                            Maps Area
                        </button>
                    <button menuClose ion-item item-title main-menu no-lines border (click)="openPage_('KorlantasListCCTV')">          
                            <ion-icon  icon-small item-left name="list-box"></ion-icon>
                            CCTV
                        </button>
                        <button menuClose ion-item item-title main-menu no-lines border (click)="Notification()">          
                                <ion-icon  icon-small item-left name="list-box"></ion-icon>
                                Exemple Notification
                            </button>
            </ion-list>
        </ion-content>
    </ion-menu>
    <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
    <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
