<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>CCTV</ion-title>
    </ion-navbar>
</ion-header>

<!-- Themes Swipe To Dismiss - Full width image -->
<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <ion-col col-12 align-self-end>
        <ion-list padding no-margin>
          <ion-item-sliding margin-bottom *ngFor="let item of data" #slidingItem>
            <ion-item no-lines background-size  [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
              <div title-block>
                <!-- Title -->
                <h1 header-title text-wrap>{{item.title}}</h1>
                <!-- Subtitle -->
                <p item-subtitle>{{item.subtitle}}</p>                
              </div>
            </ion-item>
            <!---Action Button-->
            <ion-item-options>
              <button ion-button ion-text text-capitalize transparent padding color="ChooseButton" (click)="viewCCTV()">
              {{item.delate}}
            </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
